<div class="pad">
  <div class="number">
    <div calss="save-contact">
      <button md-button class="save" *ngIf="existContact(number) === false" (click)="addContact(number)">
        <md-icon svgIcon="contact-add"></md-icon>
      </button>
    </div>
    <div class="input">
      {{number | phoneNumber}}
    </div>
    <img class="clean" (click)="clean()" src="assets/clean.png"/>
  </div>
  <div class="dial">
    <div class="line">
        <button md-button (click)="pushItem('3')">3</button>
        <button md-button (click)="pushItem('2')">2</button>
        <button md-button (click)="pushItem('1')">1</button>
    </div>
    <div class="line">
        <button md-button (click)="pushItem('6')">6</button>
        <button md-button (click)="pushItem('5')">5</button>
        <button md-button (click)="pushItem('4')">4</button>
    </div>
    <div class="line">
        <button md-button (click)="pushItem('9')">9</button>
        <button md-button (click)="pushItem('8')">8</button>
        <button md-button (click)="pushItem('7')">7</button>
    </div>
    <div class="line">
        <button md-button (click)="pushItem('#')">#</button>
        <button md-button (click)="pushItem('0')">0</button>
        <button md-button (click)="pushItem('*')">*</button>
    </div>
  </div>
  <div class="actions">
    <button md-raised-button class="call" (click)="call()">Call</button>
    <button md-raised-button class="hangup" (click)="hangup()"><md-icon svgIcon="call-end"></md-icon></button>
  </div>
</div>

<div class="call-in-progess" *ngIf="jsSip.state.session">
  <div class="box">
    Calling {{number}}<br><br>
    <button md-raised-button class="hangup" (click)="hangup()"><md-icon svgIcon="call-end"></md-icon></button>
  </div>
</div>

<div class="call-in-progess call-incomming" *ngIf="jsSip.state.incomingSession">
  <div class="box">
    {{ jsSip.state.incomingSession.session.remote_identity.display_name }} is calling!<br>
    <small>{{ jsSip.state.incomingSession.session.remote_identity.user }}</small>
    <br><br>
    <button md-raised-button class="take-call" (click)="takeIncomming()"><md-icon svgIcon="call"></md-icon></button>
    <button md-raised-button class="hangup" (click)="hangupIncomming()"><md-icon svgIcon="call-end"></md-icon></button>
  </div>
</div>