.pad {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
  max-width: 450px;
  flex-direction: column;
  margin: 0 auto;
  .save-contact {
    width: calc(33% - 12px) !important;
    text-align: center;
  }

}

.number {
    display: flex;
    flex: 1;    
    max-height: 55px;
    align-items: center;
    align-content: stretch;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    .input {
        flex: 1;
        font-size: 1.4em;
        color: #444;
        text-align: right;
        overflow: hidden;
        right: 0px;
    }
    .clean {
        width: 25px;
        padding: 20px 0 20px 5px;
    }
    .save {
      background: green;
      min-width: 50px;
      color: #fff;
      line-height: 29px;
    }
}

.dial {
  flex: 5;
  display: flex;
  flex-direction:column;
  .line {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    button {
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        color: #1155CD;
        min-width: 0px !important;
    }
    button:focus /deep/ .mat-button-focus-overlay {
     opacity: 0;
    }
  }
}

.actions {
  display: flex;
  flex: 1;
  margin: 5px;
  max-height: 60px;
  button {
    color: #fff;
    border: none;
    border-radius: 7px;
    margin: 5px;
  }
  .call {
    flex: 2;
    background: green;
  }
  .hangup {
    flex: 1;
    background: red;
  }
}
