.dial-pad {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}
.dial-pad button {
    font-size: 2em;
    height: 100%;
    width: 100%;
    color: #1155CD;
}
.number {
    display: flex;
    align-items: center;
    align-content: stretch;
    border-bottom: 1px solid #ccc;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .input {
        flex: 1;
        font-size: 2em;
        color: #444;
        text-align: right;
        overflow: hidden;
        right: 0px;
        margin: 0.2em;
        direction: rtl;
    }
    .clean {
        width: 35px;
        padding: 15px;
    }

}