.pad {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
  max-width: 450px;
  flex-direction: column;
  margin: 0 auto;
}

.number {
    display: flex;
    flex: 1;    
    max-height: 55px;
    align-items: center;
    align-content: stretch;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    .input {
        flex: 1;
        font-size: 1.4em;
        color: #444;
        text-align: right;
        overflow: hidden;
        right: 0px;
    }
    .clean {
        width: 25px;
        padding: 20px 0 20px 5px;
    }
    .save {
      background: green;
      min-width: 50px;
      color: #fff;
      line-height: 29px;
    }
}

.dial {
  flex: 5;
  display: flex;
  flex-direction:column;
  .line {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    button {
        flex: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        color: #333;
        min-width: 0px !important;
    }
    button:focus /deep/ .mat-button-focus-overlay {
     opacity: 0;
    }
  }
}

.actions {
  display: flex;
  flex: 1;
  margin: 5px;
  max-height: 60px;
  button {
    color: #fff;
    border: none;
    border-radius: 7px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .call {
    flex: 2;
    background: green;
  }
  .hangup {
    flex: 1;
    background: red;
  }
}

.call-in-progess {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    .box {
        padding-top: 40vh;
        .hangup {
            background: red;
        }
    }
}