.full-width {
  width: 100%;
}

h3 {
    cursor: pointer;
    color: #000;
    background: #ffee5a;
    margin-top: 0px;
    padding: 10px;
}
h3 > md-icon {
    transform: rotate(90deg);
    float:left;
    margin-right: 10px;
}

md-icon {
    margin-right: 10px; 
}

.btn-save {
    background: green;
    color: #fff;
}

.btn-delete {
    background: red;
    color: #fff;
}

.half-width {
  width: calc(50% - 3px);
}

.bottom {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 40px);
}


form {
    padding: 0 20px;
}

form /deep/ .mat-focused .mat-input-placeholder {
    color: rgb(17,85,206);
}

form /deep/ .mat-focused md-icon {
    color: rgb(17,85,206);
}

form /deep/ .mat-focused .mat-input-ripple {
    background-color:rgba(17,85,206,0.2);
}