<div class="call-in-progess" *ngIf="jsSipState.session">
  <div class="box">
    Calling {{jsSipState.session.remote_identity.display_name}}<br><br>
    <button md-raised-button class="hangup" (click)="hangup.emit()"><md-icon svgIcon="call-end"></md-icon></button>
  </div>
</div>

<div class="call-in-progess call-incomming" *ngIf="jsSipState.incomingSession">
  <div class="box">
    {{ jsSipState.incomingSession.session.remote_identity.display_name }} is calling!<br>
    <small>{{ jsSipState.incomingSession.session.remote_identity.user }}</small>
    <br><br>
    <button md-raised-button class="take-call" (click)="take.emit()"><md-icon svgIcon="call"></md-icon></button>
    <button md-raised-button class="hangup" (click)="reject.emit()"><md-icon svgIcon="call-end"></md-icon></button>
  </div>
</div>