$white: #fff;
$black: #000;
$bg: #f8f8f8;
$grey: #999;
$dark: #1a1a1a;
$light: #e6e6e6;
$wrapper: 1000px;
$to: #039a23;

.chat {
    display: flex;
    height: calc(100% - 52px);
    flex-direction: column;
}
.push-right {
    float: right;
    cursor: pointer;
}
.chat-header {
    display: block;
    background: #eceff1;
    border-bottom: 1px solid $light;
    padding: 15px 30px;
    color: $grey;
    width: calc(100% - 60px);
    height: 20px;
    span {
        font-size: 15px;
        color: $grey;
        .name {
            color: $dark;
            font-weight: bold;
        }
    }
}

.fixed-on-top .chat-header {
    position: fixed;
    top: 0px;
}

.fixed-on-top {
    padding-top: 55px;
}

.conversation {
    background: $white;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.message {
    background: $to;
    max-width: 70%;
    height: auto;
    padding: 10px;
    margin: 6px 30px 0px 30px;
    border-radius: 5px;
    float:left;
    clear: both;
    color: #fff;
}
.right .message {
    float: right;
    background: $light;
    color: $dark;
}
.date {
    display: block;
    text-align: center;
    color: $grey;
    padding: 9px 0;
    margin: 30px auto;
    overflow: visible;
    width: 60%;
    border-bottom: 1px solid #efefef;
    height: 0px;
    span {
        background: #fff;
        padding: 0 10px;
        font-size: 0.8em;
    }
}
.time {
    display: block;
    clear:both;
    padding-top:4px;
    font-size: 0.7em;
    color: $white;
    text-align: right;
}
.right .time {
    text-align: right;
    color: $grey;
}


.clear {
    clear: both;
}

.text-input {
    background: $light;
    max-height: 126px;
    text-align: center;
    .write {
        padding: 10px;
        text-align: center;
        padding-left: 8px;
        background-color: #eceff1;
        width: calc(100% - 22px);
        textarea {
            background: transparent;
            border: none;
            padding: 10px;
            display: inline-block;
            outline: none;
            width: calc(100% - 56px);
            margin: 0 auto;
            height: 15px;
            max-height: 60px;
            resize: none;
            overflow: hidden;
        }
        .send {
            display: inline-block;
            &:before {
                display: inline-block;
                width: 20px;
                height: 30px;
                margin-left: 11px;
                content: '';
                background-image: url('https://s30.postimg.org/nz9dho0pp/send.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}