<div class="share-screen">  
  <div class="share">
    <button md-button (click)="openShare()">Share</button>
  </div>
  <div class="contribute">
    <p>
      Webph.one is an open source project developed by SayCel, Rhizomatica, and Altermundi Team<br><br>
      View our source code:<br>
      <a href="https://github.com/saycel/webph.one" target="_blanck">Github/saycelph.one</a><br><br>
    </p>
    <p>Comments or Suggestions?</p>
  </div>
  <div class="comments">
    <textarea placeholder="We would love to hear from you!" [(ngModel)]="comment"></textarea>
    <button md-button (click)="sendComments()">Send</button>
  </div>
</div>