.share-screen {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
  max-width: 450px;
  flex-direction: column;
  margin: 0 auto;
}

.contribute {
    display: flex;
    p {
        margin: 10px auto;
        width: 80%;
        max-height: 450px;
    }
}
.comments{
    display: flex;
    flex:1;
}
.share {
    display: flex;
}

.contribute, .comments, .share {
    text-align: center;
    align-content: center;
    flex-direction: column;
    color: #1155CD;
    font-size: 0.9em;
    h3 {
        font-size: 1.1em;
        margin: 25px 10px;
    }
    button {
       width: 80%;
       max-width: 450px;
       border-radius: 5px;
       margin: 20px auto;
       padding: 8px;
       color: #fff;
       background-color: green !important;
    }
    textarea {
        width: calc( 80% - 25px );
        flex: 1;
        margin: 15px auto;
        max-width: 425px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #999;
        border-radius: 5px;
    }
}


@media only screen and (max-height:  485px) {
    .contribute, .share {
        height: 0px;
        overflow: hidden;
    }
    button {
        margin: 10px auto !important;
        padding: 2px !important;
    }
}