.topbar {
    background: green;

    a {
        color: #fff;
        display: flex;
        flex:1;
    }
};
.topbar > div {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.mat-tab-nav-bar {
    border:0px;
};

.mat-ink-bar {
    height: 6px;    
}