/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0 auto;
    padding: 0 auto;
    background: #f2f2f2;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

@import '~@angular/material/theming';

@include mat-core();

$web-phone-primary: mat-palette($mat-yellow);
$web-phone-accent:  mat-palette($mat-pink, A200, A100, A400);
$web-phone-warn:    mat-palette($mat-red);
$web-phone-theme:   mat-light-theme($web-phone-primary, $web-phone-accent, $web-phone-warn);

@include angular-material-theme($web-phone-theme);


//TOP HEADER
.topbar {
    background: green;

    a {
        color: #fff;
        display: flex;
        flex:1;
        text-align: center;
        text-transform: uppercase;

        span {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
};
.topbar > div {
    display: flex;
    flex: 1;
    flex-direction: row;
}
mat-tab-nav-bar {
    border:0px;
};

.mat-tab-nav-bar {
    border-bottom:3px solid #ffeb3b;
};

.mat-ink-bar {
    height: 6px !important;
}