/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0 auto;
    padding: 0 auto;
    background: #f2f2f2;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

@import '~@angular/material/theming';

@include mat-core();

$web-phone-primary: mat-palette($mat-yellow);
$web-phone-accent:  mat-palette($mat-pink, A200, A100, A400);
$web-phone-warn:    mat-palette($mat-red);
$web-phone-theme:   mat-light-theme($web-phone-primary, $web-phone-accent, $web-phone-warn);

@include angular-material-theme($web-phone-theme);


//TOP HEADER
.topbar {
    background: green;

    a {
        color: #fff;
        display: flex;
        flex:1;
        text-align: center;
        text-transform: uppercase;

        span {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
};
.topbar > div {
    display: flex;
    flex: 1;
    flex-direction: row;
}
mat-tab-nav-bar {
    border:0px;
};

.mat-tab-nav-bar {
    border-bottom:3px solid #ffeb3b;
};

.mat-ink-bar {
    height: 6px !important;
}

.bubblingG {
	text-align: center;
    width:60px;
	height:27px;
    margin: auto;
    padding-top: 50%;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	margin: 14px auto;
	background: rgb(0,0,0);
	border-radius: 27px;
		-o-border-radius: 27px;
		-ms-border-radius: 27px;
		-webkit-border-radius: 27px;
		-moz-border-radius: 27px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 5px;
		height: 5px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 13px;
		height: 13px;
		background-color:rgb(255,255,255);
		transform: translateY(-12px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 5px;
		height: 5px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 13px;
		height: 13px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-12px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 5px;
		height: 5px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 13px;
		height: 13px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-12px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 5px;
		height: 5px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 13px;
		height: 13px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-12px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 5px;
		height: 5px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 13px;
		height: 13px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-12px);
	}
}