h3.mat-subheader {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
.list {
    flex: row-reverse !important;
}

.contacts-list {
    overflow: hidden;
    margin-top: 7px;
}
.contacts-list > h3 {
    cursor: pointer;
    color: #000;
    background: #ccc;
    margin-top: -15px;
}

.contacts-list > h3 > .arrow {
    float: right;
    transform: 'rotate(0)'
}