h3.mat-subheader {
    text-align: center;
    color: #1155CD;
    font-size: 1.1em;
    font-weight: bold;
}
.list {
    flex: row-reverse !important;
    color: #1155CD;
}
.my-number {
    font-size: 1em;
    font-weight: normal;
    margin: 15px;
    color: #1155CD;
    span {
        float: right;
        font-weight: bold;
    }
}
.contacts-list {
    overflow: hidden;
    margin-top: 7px;
}
.contacts-list > h3 {
    cursor: pointer;
    color: #000;
    background: #ffee5a;
    margin-top: -15px;
}

.contacts-list > h3 > .arrow {
    float: right;
    transform: 'rotate(0)'
}